In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mis\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\mis\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\mis\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mis\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mis\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\mis\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\mis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\mis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mis\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\mis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome('https://www.naukri.com/')

In [4]:
driver.get("https://www.naukri.com/")

In [ ]:
#("/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [51]:
#search=driver.find_element(By.XPATH,"")
#search.click()

AttributeError: 'list' object has no attribute 'click'

In [8]:
job_title=[]
job_location=[]
company_name=[]
exp_reqr=[]

In [9]:
title_tag=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tag:
    title=i.text
    job_title.append(title)
    
    
    
    
    
location_tag=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tag:
    location=i.text
    job_location.append(location)
    
    
    
company_tag=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tag:
    company=i.text
    company_name.append(company)
        
    
    
experiance_tag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experiance_tag:
    exp=i.text
    exp_reqr.append(exp)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(exp_reqr))

20 20 20 20

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experiance':exp_reqr})
df

,Title,Location,Company_Name,Experiance
0,Data Analyst,Hybrid - Bangalore Rural,Allegis Group,7-12 Yrs
1,Data Analyst,Bengaluru,Genius Consultants,3-6 Yrs
2,Data Analyst,Bengaluru,MS Clinical Research (p) Ltd,1-4 Yrs
3,Data Analyst,Bengaluru,Elevate Global,1-3 Yrs
4,Data Analyst,Bengaluru,Ducker Worldwide Management Consulting,1-3 Yrs
5,Data Analyst,Remote,Data Analyst,2-7 Yrs
6,Data Analyst I,Bengaluru,IBM,3-5 Yrs
7,Payer Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Agilite,3-7 Yrs
8,Data Analyst Data Classification & Attestation,Bengaluru,Illumina,3-5 Yrs
9,Data Analyst Data Classification & Attestation,Bengaluru,Illuminz,3-5 Yrs
10,Data Analyst (Profisee MDM),Remote,Brillio,2-7 Yrs
11,Data Analyst,"Hybrid - Pune, Delhi / NCR, Bengaluru",Incanus Technologies,1-6 Yrs
12,Data Analyst,Bengaluru,Orcapod Consulting Services,8-13 Yrs
13,Data Analyst III,Bengaluru,Firm in IT Services Sector,6-10 Yrs
14,Data Analyst- Communication Equipment Domain,"Noida, Bengaluru",JK Technosoft,5-10 Yrs
15,Data Analyst || Coforge,"Bengaluru, Greater Noida, Uttar Pradesh",Coforge,7-10 Yrs
16,"Data Eng, Mgmt & Governance Analyst",Bengaluru,Accenture,3-5 Yrs
17,Data Analyst,Bengaluru,Ecolab Digital Center (EDC),3-4 Yrs
18,Data Analyst,Bengaluru,Hudsons bay Company (HBC),2-7 Yrs
19,Data Analyst,Bengaluru,Chubb,3-5 Yrs

In [14]:
# find url
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="882c5f5b40b88608d9c00f37e8a00b10", element="f.812741DB540B8CC62F17B2E29B9419EA.d.AA76E61F984CA4B529B8715FA7AF6763.e.131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="882c5f5b40b88608d9c00f37e8a00b10", element="f.812741DB540B8CC62F17B2E29B9419EA.d.AA76E61F984CA4B529B8715FA7AF6763.e.1334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="882c5f5b40b88608d9c00f37e8a00b10", element="f.812741DB540B8CC62F17B2E29B9419EA.d.AA76E61F984CA4B529B8715FA7AF6763.e.1342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="882c5f5b40b88608d9c00f37e8a00b10", element="f.812741DB540B8CC62F17B2E29B9419EA.d.AA76E61F984CA4B529B8715FA7AF6763.e.2688")>]

In [15]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-allegis-group-bangalore-rural-7-to-12-years-030424007037
https://www.naukri.com/job-listings-data-analyst-genius-consultants-bengaluru-3-to-6-years-290324004592
https://www.naukri.com/job-listings-data-analyst-ms-clinical-research-p-ltd-bengaluru-1-to-4-years-290324501771
None

In [35]:
job_title=[]

In [42]:
start=0
end=2
for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in title:
        job_title.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/main/div[1]/div[2]/div[3]/div/a[2]')
    #next_button.click()  
    #time.sleep(3)

In [41]:
len(job_title)

120